//advantages
.advantages_10 {
  $advantages_bg_img_1: url(../img/noimg.png);
  $advantages_bg_img_2: url(../img/noimg.png);
  $advantages_bg_img_3: url(../img/noimg.png);
  $advantages_bg_img_4: url(../img/noimg.png);
  $advantages_bg_img_5: url(../img/noimg.png);
  $advantages_bg_size: auto 75%;
  $advantages_bg_position: 50% 50%;
  $advantages_bg_repeat: no-repeat;
  @extend .border-box;
  @extend .advantages;

  .row{
    > div{
      margin-bottom: 30px;
      .img {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        margin-bottom: 15px;
        background-color: #3ec6ff;
      }
    }
    > div:nth-child(1) {
      position: relative;
      height: 0;
      padding-bottom: 50%;
      margin-bottom: 50px;
      .img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
        background-image: $advantages_bg_img_1;
        background-position: $advantages_bg_position;
        background-repeat: $advantages_bg_repeat;
        background-size: $advantages_bg_size;
      }
    }
    > div:nth-child(2) {
      .img {
        background-image: $advantages_bg_img_2;
        background-position: $advantages_bg_position;
        background-repeat: $advantages_bg_repeat;
        background-size: $advantages_bg_size;
      }
    }
    > div:nth-child(3) {
      .img {
        background-image: $advantages_bg_img_3;
        background-position: $advantages_bg_position;
        background-repeat: $advantages_bg_repeat;
        background-size: $advantages_bg_size;
      }
    }
    > div:nth-child(4) {
      .img {
        background-image: $advantages_bg_img_4;
        background-position: $advantages_bg_position;
        background-repeat: $advantages_bg_repeat;
        background-size: $advantages_bg_size;
      }
    }
    > div:nth-child(5) {
      .img {
        background-image: $advantages_bg_img_5;
        background-position: $advantages_bg_position;
        background-repeat: $advantages_bg_repeat;
        background-size: $advantages_bg_size;
      }
    }
  }
}