//catalog
.catalog_2 {
  $catalog_bg_img_1: url(../img/noimg.png);
  $catalog_bg_img_2: url(../img/noimg.png);
  $catalog_bg_img_3: url(../img/noimg.png);
  $catalog_bg_img_4: url(../img/noimg.png);
  $catalog_bg_size: auto 75%;
  $catalog_bg_position: 50% 50%;
  $catalog_bg_repeat: no-repeat;
  $catalog_width: 200px;
  $catalog_border_radius: 10px;
  @extend .border-box;
  @extend .catalog;

  background: #ffffff;
  .row{
    padding: 30px 10px 0 10px;
    > div{
      margin-bottom: 30px;
      .img {
        width: $catalog_width;
        height: $catalog_width;
        border-radius: $catalog_border_radius;
        background-color: #3ec6ff;
        margin-bottom: 15px;
      }
      button {
        max-width: $catalog_width;
      }
    }
    > div:nth-child(2) {
      .img {
        background-image: $catalog_bg_img_1;
        background-size: $catalog_bg_size;
        background-position: $catalog_bg_position;
        background-repeat: $catalog_bg_repeat;
      }
    }

    > div:nth-child(3) {
      .img {
        background-image: $catalog_bg_img_2;
        background-size: $catalog_bg_size;
        background-position: $catalog_bg_position;
        background-repeat: $catalog_bg_repeat;
      }
    }

    > div:nth-child(4) {
      .img {
        background-image: $catalog_bg_img_3;
        background-size: $catalog_bg_size;
        background-position: $catalog_bg_position;
        background-repeat: $catalog_bg_repeat;
      }
    }

    > div:nth-child(5) {
      .img {
        background-image: $catalog_bg_img_4;
        background-size: $catalog_bg_size;
        background-position: $catalog_bg_position;
        background-repeat: $catalog_bg_repeat;
      }
    }
  }
}