<div class="footer-2">
    <div class="container-fluid">
        <div class="row d-flex align-items-center flex-wrap">
            <div class="col-12 map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9827.257532254345!2d-51.66708319776105!3d64.18824238827882!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ea20dbbe3c07855%3A0xadfec4e63b83b4c7!2z0J3Rg9C6!5e0!3m2!1sru!2sru!4v1578998133947!5m2!1sru!2sru" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row d-flex align-items-center flex-wrap">
            <div class="contact col-12">
                <h2>Caption</h2>
                <h3>Subtitle</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row d-flex align-items-center flex-wrap">
            <div class="contact col-sm-4 col-6">
                <h4>Telephone</h4>
                <p>+7 999 123 45 67</p>
            </div>
            <div class="contact col-sm-4 col-6">
                <h4>Email</h4>
                <p>email@gmail.com</p>
            </div>
            <div class="contact col-sm-4 col-12">
                <h4>Other contact</h4>
                <p>Текст <a href="">ссылка</a> с <a href="">ссылкой</a></p>
            </div>
        </div>
    </div>
</div>