<section class="gallery_11">
    <div class="container">
        <div class="row d-flex flex-wrap">
            <div class="col-md-3 col-6">
                <div class="gallery_img"></div>
            </div>
            <div class="col-md-3 col-6">
                <div class="gallery_img"></div>
            </div>
            <div class="col-md-3 col-6">
                <div class="gallery_img"></div>
            </div>
            <div class="col-md-3 col-6">
                <div class="gallery_img"></div>
            </div>
            <div class="col-md-3 col-6">
                <div class="gallery_img"></div>
            </div>
            <div class="col-md-3 col-6">
                <div class="gallery_img"></div>
            </div>
            <div class="col-md-3 col-6">
                <div class="gallery_img"></div>
            </div>
            <div class="col-md-3 col-6">
                <div class="gallery_img"></div>
            </div>
        </div>
    </div>
</section>