<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="MobileOptimized" content="width"/>
    <meta name="HandheldFriendly" content="true"/>
    <title>Шаблон</title>
    <title>Title</title>
    <link rel="stylesheet" href="include/bootstrap.min.css">
    <link rel="stylesheet" href="include/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">

</head>
<body>
<header>
    //= _header_1.html
</header>
<main>
    //= _advantages_10.html
    //= _gallery_10.html
</main>
<footer>
    //= _footer.html
</footer>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="include/jquery-3.3.1.min.js"></script>
<script src="include/bootstrap.min.js"></script>
<script src="js/vendor.js"></script>
</body>
</html>