//firstwiev
.firstwiev_2 {
  $firstwiev_bg_img: url(../img/phone-1.png);
  $firstwiev_bg_size: contain;
  $firstwiev_bg_position: 50% 50%;
  $firstwiev_bg_repeat: no-repeat;
  @extend .firstwiev;

  padding-top: 50px;

  .congratulations {
    width: 100%;
    max-width: 550px;
  }

  .img{
    width: auto;
    height: 850px;
    margin-left: 150px;
  }

  ul.countdown {
    list-style: none;
    margin: 25px 0;
    padding: 0;
    display: block;
    text-align: center;
  }
  ul.countdown li {
    position: relative;
  }
  ul.countdown li span {
    font-size: 7.0rem;
    font-weight: 300;
    line-height: 80px;
    font-family: "MontHeavy", sans-serif;
    color: #ffffff;
  }
  ul.countdown li.seperator {
    width: 15px;
    height: 5px;
    border-radius: 3px;
    background: #ffffff;
    margin: 0 25px;
  }
  ul.countdown li p {
    color: rgba(255,255,255,0.5);
    font-size: 1.5rem;
    position: absolute;
    right: 5px;
    top: 100%;
  }
}

