//firstwiev
.firstwiev_2 {
  $firstwiev_bg_img: url(../img/phone-1.png);
  $firstwiev_bg_size: contain;
  $firstwiev_bg_position: 50% 50%;
  $firstwiev_bg_repeat: no-repeat;
  @extend .firstwiev;

  padding-top: 55px;
  overflow: hidden;

  .congratulations {
    width: 95%;
    max-width: 1000px;
  }

  .completed {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%) rotate(35deg);
    background: url("../img/completed.png") 50% 50% no-repeat;
    background-size: contain;
    width: 120%;
    height: 50px;
    z-index: 1;
    filter: drop-shadow(0 0 3px rgba(0,0,0,1));
    display: none;
  }

  .completed.seal {
    display: block;
    animation-name: seal;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
  }

  @keyframes seal {
    0% {
      transform: translate(-50%, -50%) rotate(35deg) scale(10);
    }

    90% {
      transform: translate(-50%, -50%) rotate(35deg) scale(0.95);
    }

    100% {
      transform: translate(-50%, -50%) rotate(35deg) scale(1);
    }
  }

  .img{
    width: 100%;
    height: auto;
  }

  h1 {
    position: absolute;
    left: 0;
    top: 50%;
    margin-left: -250px;
    transform: translateY(-50%) rotate(-90deg);
    transform-origin: 50% 50%;
    font-size: 14.4rem;
    font-family: "MontHeavy", sans-serif;
    text-transform: uppercase;
    background: radial-gradient(55.61% 937.5% at 45.7% 121.63%, #03DCFE 0%, #8B94FF 13.62%, #ECB1FF 33.33%, #00EFFE 45.31%, #009AF3 61.46%, #FF6E13 74.48%, #A0000B 81.77%, #FF1573 89.58%, #8C2981 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    letter-spacing: 5px;
  }

  h1:before {
    content: "";
    position: absolute;
    left: 0;
    right: 50%;
    bottom: 0;
    height: 15px;
    background: linear-gradient(to left, #03DCFE 0.13%, #8B94FF 13.75%, #ECB1FF 33.47%, #00EFFE 45.45%, #009AF3 61.6%, #FF6E13 74.62%, #A0000B 81.92%, #FF1573 89.73%, #8C2981 100.15%);
  }

  h1:after {
    content: "";
    position: absolute;
    left: 50%;
    right: 0;
    bottom: 0;
    height: 15px;
    background: linear-gradient(to right, #03DCFE 0.13%, #8A94FF 13.74%, #8B94FF 13.75%, #ECB1FF 33.47%, #00EFFE 45.45%, #009AF3 61.6%, #FF6E13 74.62%, #A0000B 81.92%, #FF1573 89.73%, #8C2981 100.15%);
  }

  h2 {
    font-size: 7.4rem;
    font-family: "MontHeavy", sans-serif;
    text-transform: uppercase;
    background: radial-gradient(55.61% 937.5% at 45.7% 121.63%, #03DCFE 0%, #8B94FF 13.62%, #ECB1FF 33.33%, #00EFFE 45.31%, #009AF3 61.46%, #FF6E13 74.48%, #A0000B 81.77%, #FF1573 89.58%, #8C2981 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    letter-spacing: 5px;
  }

  h3 {
    font-family: "MontHeavy", sans-serif;
    font-size: 4.2rem;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    line-height: 54px;
    margin-bottom: 40px;
  }

  .h4 {
    margin-top: 30px;
    margin-bottom: 70px;
  }

  h4 {
    position: relative;
    font-family: "MontHeavy", sans-serif;
    font-size: 6.4rem;
    color: #F81B52;
    text-transform: uppercase;
    line-height: 100%;
    display: inline-block;
    margin: 0 5px;
    text-shadow: 0 0 10px rgba(0,0,0,1);
    line-height: 1.2;
  }

  h4:last-of-type:after {
    content: "iphone 11 pro";
    position: absolute;
    left: 50%;
    top: 50%;
    width: auto;
    transform: translate(-50%, -50%);
    margin-top: 5%;
    white-space: nowrap;
    -webkit-text-stroke: 1px rgba(255, 146, 19, 0.3);
    font-size: 1.2em;
    background: transparent;
    color: transparent;
    -webkit-background-clip: text;
    text-shadow: none;
  }

  h4:first-of-type:after {
    content: "Розыгрыш";
    position: absolute;
    left: 50%;
    top: 50%;
    width: auto;
    transform: translate(-50%, -50%);
    margin-top: -5%;
    -webkit-text-stroke: 1px rgba(11, 237, 255, 0.15);
    font-size: 1.2em;
    background: transparent;
    color: transparent;
    -webkit-background-clip: text;
    text-shadow: none;
  }

  h4 span {
    position: relative;
    font-family: inherit;
    color: inherit;
    white-space: nowrap;
    z-index: 1;
  }

  h5 {
    font-size: 2.4rem;
    color: rgba(255, 255, 252, 0.7);
    text-align: center;
    text-shadow: 0 0 3px rgba(0,0,0,0.7);
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
  }

  h6{
    font-family: "MontHeavy", sans-serif;
    font-size: 4.2rem;
    line-height: 54px;
  }

  h6.one {
    color: #0BEDFF;
  }

  h6.two {
    color: #ff9213;
  }

  h6.three {
    color: #f81b52;
  }

  .steps {
    padding: 0 150px;
  }

  .steps-number > span {
    height: 2px;
    background: #0adc7f;
    flex: 1;
    margin: 0 15px;
  }

  .steps-number > span:first-of-type{
    background: linear-gradient(90deg, #0BEDFF 0%, #FF9213 100%);
  }

  .steps-number > span:last-of-type{
    background: linear-gradient(-90deg, #F81B52 0%, #FF9213 100%);
  }

  .steps-image {
    margin-top: 30px;
  }

  .steps-image > div {
    position: relative;

  }

  .steps-image p {
    color: #ffffff;
    font-size: 2.4rem;
    text-align: center;
    margin-top: 40px;
  }

  ul.countdown {
    position: relative;
    list-style: none;
    margin: 30px 0;
    padding: 0;
    display: block;
    text-align: center;
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: -50px;
      transform: translateX(-50%);
      background: url("../img/bg-phone-hirizontal.png") 50% 50% no-repeat;
      background-size: contain;
      width: 80vw;
      height: 225px;
      z-index: 0;
    }
  }
  ul.countdown li {
    position: relative;
    z-index: 1;
  }
  ul.countdown li span {
    font-size: 8.0rem;
    font-weight: 300;
    line-height: 80px;
    font-family: "MontHeavy", sans-serif;
    color: #ffffff;
    text-shadow: 0 0 3px rgba(0,0,0,0.7);
  }
  ul.countdown li.seperator {
    width: 15px;
    height: 5px;
    border-radius: 3px;
    background: #ffffff;
    margin: 0 25px;
  }
  ul.countdown li p {
    color: rgba(255,255,255,1);
    font-size: 1.6rem;
    position: absolute;
    right: 0;
    top: 100%;
    text-shadow: 0 0 3px rgba(0,0,0,0.7);
  }

  a {
    z-index: 1;
  }

  button {
    width: 280px;
    height: 60px;
    font-size: 1.8rem;
    border-radius: 30px;
    background: #f81b52;
    margin-top: 100px;
    margin-bottom: 60px;
  }

  button:hover, button:active, button:focus {
    background: #f81b52;
    border: 0;
  }

  button:after {
    display: none;
  }

  #menu3 {
    position: absolute;
    left: 0;
    top: 0;
  }
}

