//popup_1
.popup_1 {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: 1s;
  z-index: -1;
}

.popup_1.visible {
  opacity: 1;
  transition: 1s;
  z-index: 9;
}

.popup-block {
  width: 100%;
  max-width: 540px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  padding: 40px 50px;
  border: 2px solid #f81b52;
  border-radius: 24px;
}

.popup-block h4 {
  font-family: "MontHeavy", sans-serif;
  text-transform: uppercase;
  font-size: 2.4rem;
  color: #000000;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  padding: 0;
}

.popup-block p {
  font-family: "MontExtraLight", sans-serif;
  font-size: 1.6rem;
  color: #000000;
  text-align: center;
  padding: 0;
}

.popup-block .id {
  font-family: "MontHeavy", sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  color: #ffffff;
  background: #ff9213;
  text-align: center;
  border-radius: 10px;
  margin: 20px 0;
}

.popup-block label {
  font-family: "MontHeavy", sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #000000;
}

.popup-block > form > div:first-of-type {
  flex: 1;
  margin-right: 30px;
}

.popup-block .ava-block {
  position: relative;
  width: 95px;
  height: 60px;
  border: 1px solid #b2b2b2;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  padding: 10px 15px 10px 10px;
  background-image: url("../img/ava-default-gray.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 39px 39px;
}

.popup-block .ava-block:before {
  content: "";
  width: 14px;
  height: 12px;
  background: #393939;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  position: absolute;
  right: 15px;
  top: 99%;
  opacity: 0;
}

.popup-block .ava-block:after {
  content: "";
  width: 14px;
  height: 12px;
  background-color: #838383;
  margin-left: 15px;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.popup-block .ava-block:hover {
  background-color: #393939;
  background-image: url("../img/ava-default-white.png");
}

.popup-block .ava-block:hover:after {
  background-color: #ffffff;
}

.popup-block .ava-block.active {
  background-color: #393939;
  background-image: url("../img/ava-default-white.png");
  overflow: visible;
}

.popup-block .ava-block.active:after {
  background: #ffffff;
  transform: rotate(180deg);
}

.popup-block .ava-block.active:before {
  opacity: 1;
}

.popup-block .ava-block .ava {
  width: 40px;
  height: 40px;
}

.select-ava {
  background: #ffffff;
  width: 382px;
  position: absolute;
  right: -1px;
  top: calc(100% + 12px);
  padding: 10px;
  z-index: 8;
  border: 1px solid #848484;
  border-radius: 10px;
  opacity: 0;
  cursor: default;
}

.select-ava.visible {
  opacity: 1;
}

.select-ava img {
  margin: 5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.select-ava img:hover {
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 1));
}