@import "fonts";
@import "header_3";
@import "nav_1";
@import "nav_2";
@import "firstwiev_2";
@import "video_1";
@import "houx_1";
@import "popup_1";
@import "footer_2";

//bg main block
$bg_body: #080808;
$bg_header: #000000;
$bg_firstwiev: #080808;
$bg_advantages: #ffffff;
$bg_command: #ffffff;
$bg_catalog: #080808;
$bg_blog: #ffffff;
$bg_comment: #ffffff;
$bg_form: #ffffff;
$bg_gallery: #ffffff;
$bg_info: #ffffff;
$bg_footer: #080808;

//text
$txt_color: #9b9b9b;

//button
$btn_color: #ffffff;
$btn_bg: #19bb2d;
$btn_color_hover: #ffffff;
$btn_bg_hover: #19c32d;
$btn_color_active: #ffffff;
$btn_bg_active: #19c32d;
$btn_outline: 2px solid #19bb2d;
$btn_radius: 10px;

//input
$inp_color: #000000;
$inp_bg: #ffffff;
$inp_color_hover: #ffffff;
$inp_bg_hover: #393939;
$inp_color_focus: #ffffff;
$inp_bg_focus: #393939;
$inp_border: 1px solid #b2b2b2;
$inp_outline: 2px solid #393939;
$inp_radius: 10px;

//link
$a_color_hover: #ffffff;
$a_color_active: #ffffff;

* {
  font-family: 'MontExtraLight', sans-serif;
  font-size: 10px;
  color: $txt_color;
  transition: 100ms;
  box-sizing: border-box;
}

*:hover, *:focus, *:active {
  transition: 100ms;
}

body {
  margin: 0;
  padding: 0;
  background: $bg_body;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, a, span {
  color: $txt_color;
  margin: 0;
  letter-spacing: 0.5px;
}

h1 {

}

h2 {

}

h3 {
  font-size: 2.2rem;
  color: #687066;
  line-height: 31px;
}

h4 {
  font-size: 2.6rem;
  color: #ffffff;
  line-height: 120px;
}

h5 {

}

h6 {
  font-family: "OswaldRegular", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  color: #13AEBA;
  line-height: 1.1;
}

p {
  font-size: 1.1rem;
}

span {
  font-size: 1em;
}

a {
  font-size: 1.1rem;
  &:hover, &:focus {
    color: $a_color_hover;
    outline: 0;
    text-decoration: none;
  }

  &:active {
    color: $a_color_active;
  }
}

button {
  font-family: "MontHeavy", sans-serif;
  font-size: 1.9rem;
  width: 100%;
  height: 60px;
  margin-top: 30px;
  color: $btn_color;
  background-color: $btn_bg;
  border: none;
  border-radius: $btn_radius;
  text-transform: uppercase;
  outline: 0;

  &:hover, &:focus {
    color: $btn_color_hover;
    background-color: $btn_bg_hover;
  }

  &:focus {
    border: $btn_outline;
    outline: none;
  }

  &:active {
    color: $btn_color_active;
    background-color: $btn_bg_active;
  }
}

button:after {
  content: "";
  background: url("../img/arrow.png") 50% 50% no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: sub;
  margin-left: 20px;
}

input {
  color: #000000;
  font-size: 1.8rem;
  width: 100%;
  height: 60px;
  padding: 0 2rem;
  border: $inp_border;
  border-radius: $inp_radius;
  letter-spacing: 1px;
  text-align: center;
  &::placeholder {
    color: $inp_border;
  }

  &:hover {
    color: $inp_color_hover;
    background-color: $inp_bg_hover;
    border: $inp_outline;
    &::placeholder {
      color: #ffffff;
    }
  }

  &:focus {
    color: $inp_color_focus;
    background-color: $inp_bg_focus;
    border: $inp_outline;
    outline: 0;
    &::placeholder {
      color: #ffffff;
    }
  }
}

textarea {
  font-size: 1.6rem;
  width: 100%;
  height: 150px;
  margin-top: 30px;
  padding: 1rem 1.5rem;
  border: $inp_border;
  border-radius: $inp_radius;
  margin-bottom: -4px;
  &::placeholder {
    color: $inp_border;
  }

  &:hover {
    color: $inp_color_hover;
    background-color: $inp_bg_hover;
    border: $inp_outline;
    &::placeholder {
      color: #ffffff;
    }
  }

  &:focus {
    color: $inp_color_focus;
    background-color: $inp_bg_focus;
    border: $inp_outline;
    outline: 0;
    &::placeholder {
      color: #ffffff;
    }
  }
}

header {
  position: absolute;
  top: 0;
  right: 0;
  background: $bg_header;
  z-index: 1;
  width: 100px;
  box-shadow: 0px 0px 10px rgba(11, 237, 255, 0.2);
  border-radius: 10px 0px 0px 10px;
  padding: 10px;
}

.winner {
  margin-top: 15px;
}

.winner p {
  font-family: "OswaldLight", sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 18px;
  color: #FFFFFF;
  opacity: 0.5;
  margin-top: 5px;
}

.firstwiev {
  background-color: $bg_firstwiev;
  background-image: url("../img/bg-top.png");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.advantages {
  background-color: $bg_advantages;
}

.command {
  background-color: $bg_command;
}

.catalog {
  background-color: $bg_catalog;
  background-image: url("../img/bg-catalog.png");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.blog {
  background-color: $bg_blog;
}

.comment {
  background-color: $bg_comment;
}

.form {
  background-color: $bg_form;
}

.gallery {
  background-color: $bg_gallery;
}

.info {
  background-color: $bg_info;
}

footer {
  background: $bg_footer;
}

.border-box { //для видимости границ основных блоков
  border: 4px solid #dddddd;
  border-top: none;
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1380px;
  }
}

@media only screen and (max-width: 1439px) {
  .firstwiev_2 h1 {
    font-size: 12.4rem;
  }

  .firstwiev_2 .steps-image p {
    font-size: 2rem;
  }

  .firstwiev_2 h4 {
    font-size: 6.2rem;
  }

  .firstwiev_2 h2 {
    font-size: 6.2rem;
  }

  .firstwiev_2 h5 {
    font-size: 2.2rem;
  }

  .firstwiev_2 h3, .houx_1 h3 {
    font-size: 3.7rem;
  }

  .steps-image img {
    height: 180px;
  }

  .video_1 h3 {
    font-size: 3.7rem;
  }

  .firstwiev_2 .steps {
    padding: 0 100px;
  }

  .video_1 .container, .houx_1 .container {
    padding: 0 100px;
  }
}

@media only screen and (max-width: 1199px) {
  .firstwiev_2 h1 {
    font-size: 9.4rem;
    margin-left: -150px;
  }

  .firstwiev_2 .steps-image p {
    font-size: 1.6rem;
  }

  .firstwiev_2 ul.countdown li span, .video_1 ul.countdown li span {
    font-size: 7.0rem;
  }

  .firstwiev_2 h4 {
    font-size: 5rem;
  }

  .firstwiev_2 h2 {
    font-size: 5rem;
  }

  .firstwiev_2 h3, .houx_1 h3 {
    font-size: 3rem;
  }

  .steps-image img {
    height: 150px;
  }

  .video_1 h3 {
    font-size: 3rem;
  }

  .nav_2 {
    right: 85px;
  }

  header {
    width: 85px;
    padding: 5px;
  }

  .firstwiev_2 ul.countdown li span, .video_1 ul.countdown li span {
    font-size: 6rem;
    line-height: 64px;
  }

  .video_1 video {
    height: 550px;
  }

  .firstwiev_2 .steps {
    padding: 0px 115px;
  }

  .video_1 .container, .houx_1 .container {
    padding: 0px 115px;
  }

  .firstwiev_2 .congratulations {
    max-width: 800px;
  }
}

@media only screen and (max-width: 991px) {
  .firstwiev_2 h4 {
    font-size: 4rem;
  }

  .firstwiev_2 h2 {
    font-size: 4rem;
  }

  .firstwiev_2 h5 {
    font-size: 2rem;
  }

  .video_1 .countdown > p {
    font-size: 2rem;
  }

  .firstwiev_2 ul.countdown li span, .video_1 ul.countdown li span {
    font-size: 5rem;
    line-height: 54px;
  }

  .firstwiev_2 ul.countdown li p, .video_1 ul.countdown li p {
    font-size: 1.3rem;
  }

  .firstwiev_2 h3, .houx_1 h3 {
    font-size: 2.8rem;
    margin-bottom: 20px;
  }

  .video_1 h3 {
    font-size: 2.8rem;
    line-height: 1.4;
    margin-bottom: 40px;
  }

  .firstwiev_2 .steps {
    padding: 0 50px;
  }

  .video_1 .container, .houx_1 .container {
    padding: 0 50px;
  }

  .firstwiev_2 h1 {
    font-size: 7.4rem;
  }

  .video_1 video {
    height: 400px;
  }

  .firstwiev_2 .steps-image p {
    font-size: 1.5rem;
  }

  .steps-image img {
    height: 130px;
  }

  .firstwiev_2 h6 {
    font-size: 3.6rem;
  }

  .firstwiev_2 button {
    margin-top: 80px;
  }

  .firstwiev_2 h1:before {
    height: 10px;
  }

  .firstwiev_2 h1:after {
    height: 10px;
  }

  .firstwiev_2 ul.countdown:after {
    top: -70px;
  }

  .houx_1 h6, .houx_1 p, .houx_1 h5, .houx_1 h5 q {
    font-size: 1.8rem;
  }

  .houx_1 h5 {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .nav_1 .container {
    padding: 0 5px;
  }

  .nav_2 {
    right: 65px;
  }

  header {
    width: 65px;
  }

  header img {
    width: 45px;
    height: auto;
  }

  h6 {
    font-size: 1.2rem;
  }

  .winner {
    margin-top: 10px;
  }

  .firstwiev_2 h1 {
    font-size: 6.8rem;
    margin-left: -110px;
  }

  .video_1 h3 {
    font-size: 2.4rem;
  }

  .firstwiev_2 h3, .houx_1 h3 {
    font-size: 2.6rem;
  }

  .firstwiev_2 .steps-image p {
    font-size: 1.3rem;
  }

  .firstwiev_2 .steps {
    padding: 0 100px;
  }

  .video_1 .container, .houx_1 .container {
    padding: 0 100px;
  }

  .firstwiev_2 .congratulations {
    max-width: 640px;
  }

  .firstwiev_2 h4 {
    font-size: 3.6rem;
  }

  .firstwiev_2 h2 {
    font-size: 3.6rem;

  }

  .firstwiev_2 ul.countdown li span, .video_1 ul.countdown li span {
    font-size: 4.6rem;
  }

  .nav_2 p {
    font-size: 1.6rem;
  }

  .nav_2 a > p {
    font-size: 1.5rem;
  }

  .nav_2 p span {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 767px) {
  .nav_2 {
    right: 0px;
  }

  header {
    display: none;
  }

  .firstwiev_2 .steps {
    padding: 0 15px;
  }

  .video_1 .container, .houx_1 .container {
    padding: 0 15px;
  }

  .video_1 {
    margin-bottom: 25px;
  }

  .video_1 video {
    height: 380px;
  }

  .nav_1 {
    top: 0;
    left: 0;
    transform: translateY(0);
  }

  .nav_1 .container {
    padding: 0;
  }

  .nav_1 .nav-item {
    padding-left: 20px;
  }

  .firstwiev_2 .congratulations {
    width: 100%;
  }

  .firstwiev_2 h4 {
    font-size: 3rem;
  }

  .firstwiev_2 h2 {
    font-size: 3rem;
  }

  .firstwiev_2 h5 {
    font-size: 1.8rem;
  }

  .video_1 .countdown > p {
    font-size: 1.8rem;
  }

  .firstwiev_2 ul.countdown li.seperator, .video_1 ul.countdown li.seperator {
    margin: 0 18px;
  }

  .firstwiev_2 ul.countdown li span, .video_1 ul.countdown li span {
    font-size: 3.8rem;
    line-height: 45px;
  }

  .firstwiev_2 ul.countdown li p, .video_1 ul.countdown li p {
    font-size: 1.1rem;
  }

  .firstwiev_2 h3, .houx_1 h3 {
    font-size: 2.2rem;
  }

  .firstwiev_2 h6 {
    font-size: 3.2rem;
  }

  .steps-image img {
    height: 110px;
  }

  .firstwiev_2 .steps-image p {
    font-size: 1.2rem;
    margin-top: 25px;
  }

  .video_1 video {
    height: 320px;
  }

  .firstwiev_2 h1 {
    font-size: 5.6rem;
    margin-left: -150px;
  }

  .video_1 h3 {
    font-size: 2.2rem;
  }

  .video_1 {
    margin-bottom: 50px;
  }

  p {
    font-size: 1rem;
  }

  .firstwiev_2 button {
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .navbar {
    backdrop-filter: blur(4px);
    border-radius: 0 0 10px 0;
  }

  .nav_1 .nav-item a.nav-link:after {
    display: none;
  }

  .nav_1 .nav-item a.nav-link:before {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.7);
  }

  .nav_1 .nav-item.active a.nav-link:before {
    background: transparent;
  }

  .nav_1 .nav-item.active a.nav-link {
    background: transparent;
    color: rgba(255, 255, 255, 0.7);
    font-family: "MontExtraLight", sans-serif;
    -webkit-text-fill-color: inherit;
  }

  .congratulaton {
    padding: 0;
  }

  .visible .popup-block {
    max-width: 500px;
  }

  .popup-block h3 {
    font-size: 2.2rem;
  }

  .popup-block h4 {
    font-size: 1.9rem;
  }

  .popup-block .id {
    font-size: 3.8rem;
  }

  .popup-block p {
    font-size: 1.5rem;
  }

  .houx_1 h6, .houx_1 p, .houx_1 h5, .houx_1 h5 q {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 550px) {
  .firstwiev_2 h1 {
    font-size: 5rem;
    margin-left: -125px;
  }

  .steps-image img {
    height: 90px;
  }

  .firstwiev_2 .steps-image p {
    font-size: 1.1rem;
    margin-top: 20px;
  }

  .firstwiev_2 h3, .houx_1 h3 {
    font-size: 2rem;
  }

  .firstwiev_2 h5 {
    font-size: 1.7rem;
  }

  .video_1 .countdown > p {
    font-size: 1.7rem;
  }

  .firstwiev_2 ul.countdown li span, .video_1 ul.countdown li span {
    font-size: 3.6rem;
    line-height: 40px;
  }

  .firstwiev_2 .steps-image {
    margin-top: 10px;
  }

  .firstwiev_2 h6 {
    font-size: 2.8rem;
  }

  .video_1 h3 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .popup-block {
    max-width: 445px;
    padding: 30px 30px;
  }

  .popup-block p {
    font-size: 1.4rem;
  }

  .popup-block .id {
    font-size: 3.5rem;
  }

  .firstwiev_2 ul.countdown:after {
    top: -65px;
  }

  .firstwiev_2 h5 {
    margin-bottom: 0;
  }

  .firstwiev_2 .h4 {
    margin-bottom: 40px;
  }

  .firstwiev_2 ul.countdown:after {
    width: 200vw;
    height: 230px;
    transform: translate(0);
    left: -20px;
    top: -110px;
  }

  .firstwiev_2 h5 {
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 3px rgba(0,0,0,0.7);
  }


}

@media only screen and (max-width: 500px) {
  .firstwiev_2 h1 {
    font-size: 4.2rem;
    margin-left: -100px;
    letter-spacing: 3px;
  }

  .firstwiev_2 h1:before {
    height: 6px;
  }

  .firstwiev_2 h1:after {
    height: 6px;
  }

  .steps-image {
    margin-left: -5px;
    margin-right: -5px;
  }

  .steps-image br {
    display: none;
  }

  .steps-image > div {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding: 0 5px;
  }

  .firstwiev_2 h6 {
    width: 12px;
    text-align: center;
  }

  .firstwiev_2 .steps {
    padding: 5px;
  }

  .steps-number {
    padding: 0 25px;
  }

  .popup-block {
    max-width: 415px;
    padding: 20px 20px;
  }

  input {
    font-size: 1.6rem;
  }

  .popup-block > form > div:first-of-type {
    margin-right: 20px;
  }

  button {
    margin-top: 20px;
  }

  .mt-5 {
    margin-top: 2rem !important;
  }

  .select-ava {
    padding: 5px;
    right: -5px;
  }
}

@media only screen and (max-width: 450px) {
  .popup-block {
    width: 94%;
  }

  .popup-block h3 {
    font-size: 2rem;
    margin-bottom: 5px;
  }

  .popup-block h4 {
    font-size: 1.7rem;
  }

  .popup-block .id {
    font-size: 3.2rem;
  }

  .popup-block p {
    font-size: 1.3rem;
  }

  .popup-block label {
    font-size: 1.6rem;
  }

  .select-ava {
    width: 300px;
  }

  .select-ava img {
    margin: 4px;
    width: 40px;
    height: 40px;
  }

  .nav_2 {
    padding: 5px 10px;
  }

  .nav_2 .exit {
    position: absolute;
    right: 6px;
    top: 4px;
    height: 26px;
    backdrop-filter: none;
  }

  .nav_2 > p:first-of-type {
    padding-right: 25px;
  }

  .nav_2 .exit > p {
    display: none;
  }

  .nav_2 a {
    margin-top: 0px;
  }

  .firstwiev_2 ul.countdown:after {
    top: -105px;
  }

  .nav_2 p span {
    line-height: 1.2;
    margin-top: -1px;
  }

  .nav_2 a {
    padding: 3px 0 3px 5px;
  }

  .houx_1 h6, .houx_1 p, .houx_1 h5, .houx_1 h5 q {
    font-size: 1.5rem;
  }

  .firstwiev_2 {
    padding-top: 55px;
  }
}

@media only screen and (max-width: 400px) {
  .video_1 video {
    height: 260px;
  }

  .video_1 h3 {
    font-size: 1.8rem;
  }

  .firstwiev_2 h1 {
    font-size: 3.5rem;
    margin-left: -80px;
    letter-spacing: 2px;
  }

  .firstwiev_2 h1:before {
    height: 5px;
  }

  .firstwiev_2 h1:after {
    height: 5px;
  }

  .steps-image img {
    height: 70px;
  }

  .firstwiev_2 h5 {
    font-size: 1.6rem;
  }

  .video_1 .countdown > p {
    font-size: 1.6rem;
  }

  .firstwiev_2 ul.countdown li span, .video_1 ul.countdown li span {
    font-size: 3.2rem;
    line-height: 35px;
  }

  .firstwiev_2 ul.countdown li p, .video_1 ul.countdown li p {
    font-size: 1rem;
  }

  .firstwiev_2 ul.countdown li.seperator, .video_1 ul.countdown li.seperator {
    width: 11px;
    height: 4px;
    margin: 0 15px
  }

  .firstwiev_2 h6 {
    font-size: 2.5rem;
  }

  .video_1 h3 {
    font-size: 1.7rem;
  }

  .firstwiev_2 h3 {
    font-size: 1.8rem;
    margin-bottom: 0;
  }

  .houx_1 h3 {
    font-size: 1.8rem;
  }

  .popup-block h3 {
    font-size: 1.9rem;
  }

  .popup-block h4 {
    font-size: 1.6rem;
  }

  .houx_1 h6, .houx_1 p, .houx_1 h5, .houx_1 h5 q {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 359px) {
  .firstwiev_2 h4 {
    font-size: 2.8rem;
  }

  .firstwiev_2 h2 {
    font-size: 2.8rem;
  }

  .firstwiev_2 .steps-image p {
    font-size: 1rem;
    margin-top: 15px;
  }

  .firstwiev_2 button {
    width: 260px;
  }

  .firstwiev_2 button {
    margin-bottom: 20px;
  }

  .firstwiev_2 h1 {
    font-size: 3.1rem;
    margin-left: -75px;
  }

  .video_1 video {
    height: 200px;
  }

  .firstwiev_2 ul.countdown li span, .video_1 ul.countdown li span {
    font-size: 3rem;
  }

  .steps-number {
    padding: 0px 15px;
  }

  .video_1 {
    margin-bottom: 30px;
    margin-top: 20px;
  }

  .video_1 h3 {
    font-size: 1.5rem;
  }

  .firstwiev_2 h3, .houx_1 h3 {
    font-size: 1.7rem;
  }

  .steps-image img {
    height: 65px;
  }

  input {
    font-size: 1.5rem;
    height: 50px;
  }

  button {
    font-size: 1.7rem;
    margin-top: 15px;
  }

  .popup-block .ava-block {
    width: 90px;
    height: 50px;
    background-position: 9px 9px;
    background-size: 30px 30px;
    padding: 10px 15px 10px 8px;
  }

  .popup-block .ava-block .ava {
    width: 35px;
    height: 35px;
  }

  .popup-block .id {
    font-size: 2.8rem;
    margin: 5px 0 10px 0;
  }

  .popup-block h3 {
    font-size: 1.8rem;
  }

  .popup-block h4 {
    font-size: 1.4rem;
  }

  .popup-block p {
    font-size: 1.2rem;
  }

  .popup-block label {
    font-size: 1.4rem;
  }

  .popup-block {
    padding: 10px 15px 15px;
  }

  .popup-block > form > div:first-of-type {
    margin-right: 15px;
  }

  .select-ava {
    right: -17px;
  }

  button {
    height: 50px;
  }

  .mt-5 {
    margin-top: 0.5rem !important;
  }

  .firstwiev_2 ul.countdown:after {
    top: -100px;
    left: -30px;
  }

  .houx_1 h6, .houx_1 p, .houx_1 h5, .houx_1 h5 q {
    font-size: 1.3rem;
  }
}

/* iPhone 4 */
@media screen and (device-aspect-ratio: 320/480) and (orientation: portrait) {
  .popup-block {
    top: 10px;
    -webkit-transform: translate(-50%, 0) scale(0);
    -ms-transform: translate(-50%, 0) scale(0);
    transform: translate(-50%, 0) scale(0);
  }

  .visible .popup-block {
    -webkit-transform: translate(-50%, 0) scale(1);
    -ms-transform: translate(-50%, 0) scale(1);
    transform: translate(-50%, 0) scale(1);
  }
}

@media screen and (device-aspect-ratio: 320/480) and (orientation: landscape) {

}

/*iPhone 5:*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) and (orientation: portrait) {

}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) and (orientation: landscape) {

}

/*iPhone 6,7,8:*/
@media screen and (device-aspect-ratio: 375/667) and (orientation: portrait) {

}

@media screen and (device-aspect-ratio: 375/667) and (orientation: landscape) {

}

/*iPhone 6,7,8 Plus:*/
@media screen and (device-aspect-ratio: 414/736) and (orientation: portrait) {

}

@media screen and (device-aspect-ratio: 414/736) and (orientation: landscape) {

}