//firstwiev
$firstwiev_bg_color: #ffffff;
$firstwiev_btn_width: 200px;
$firstwiev_bg_img: url(../img/bg.jpg);

.firstwiev_1 {
  background-color: $firstwiev_bg_color;
  background-image: $firstwiev_bg_img;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding-top: 56px;
  height: 100vh;

  h2 {
    font-size: 2.4rem;
    font-weight: 600;
  }

  h3 {
    font-size: 1.8rem;
  }

  button {
    font-size: 1.6rem;
    width: $firstwiev_btn_width;
    height: 50px;
    margin-top: 1.5rem;
    background-color: #cbcbcb;
    border: none;
    border-radius: 10px;
    &:hover {
      background-color: #ababab;
    }
  }
}

