//gallery
$gallery_bg_color_1: #ababab;
$gallery_bg_color_2: #cbcbcb;
$gallery_bg_color_3: #ababab;
$gallery_bg_color_4: #cbcbcb;
$gallery_bg_color_5: #cbcbcb;
$gallery_bg_color_6: #ababab;
$gallery_bg_color_7: #cbcbcb;
$gallery_bg_color_8: #ababab;
$gallery_bg_color: #e7e7e7;
$gallery_bg_img: url(../img/noimg.png);
$gallery_bg_size: auto 60%;
$gallery_bg_position: 50% 50%;
$gallery_bg_repeat: no-repeat;

.gallery_10 {
  background: $gallery_bg_color;
  .row {
    background: $gallery_bg_color;
    padding: 1.5rem 1rem;
    > div {
      position: relative;
      height: 0;
      padding-bottom: 25%;
      .gallery_img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: $gallery_bg_img;
        background-size: $gallery_bg_size;
        background-position: $gallery_bg_position;
        background-repeat: $gallery_bg_repeat;
      }
    }
    > div:nth-child(1)  {
      background-color: $gallery_bg_color_1;
    }
    > div:nth-child(2) {
      background-color: $gallery_bg_color_2;
    }
    > div:nth-child(3) {
      background-color: $gallery_bg_color_3;
    }
    > div:nth-child(4) {
      background-color: $gallery_bg_color_4;
    }
    > div:nth-child(5) {
      background-color: $gallery_bg_color_5;
    }
    > div:nth-child(6) {
      background-color: $gallery_bg_color_6;
    }
    > div:nth-child(7) {
      background-color: $gallery_bg_color_7;
    }
    > div:nth-child(8) {
      background-color: $gallery_bg_color_8;
    }
  }
}

@media only screen  and ( max-width: 767px ) {
  .gallery_10 {
    .row {
      > div {
        padding-bottom: 50%;
      }
    }
  }
}