.popup-entrance {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(29, 28, 61, 0.8);
  z-index: 8;
  display: none;

  &.active {
    display: block;
  }

  .popup-window {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 550px;
    background: #5756B8;
    border-radius: 25px;
    padding: 50px;

    h2 {
      color: #ffffff;
      font-family: "MontHeavy", sans-serif;
    }

    > form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    button, input {
      width: 100%;
      max-width: 300px;
      height: 54px;
      border-radius: 27px;
      outline: 0;
      margin-top: 30px;
      padding: 0 15px;
      text-transform: none;
    }

    button {
      font-size: 1.8rem;
      border: none;

      &:after {
        display: none;
      }

      &:before {
        display: none;
      }
    }

    input {
      font-size: 1.8rem;
      text-align: center;
      color: #ffffff;
      background: transparent;
      border: 1px solid #ffffff;
    }

    input::placeholder {
      font-size: 1.6rem;
      color: rgba(255, 255, 255, 1);
    }

    .step-back {
      position: absolute;
      left: 0;
      top: 0;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
      overflow: hidden;
      display: block;
      box-shadow: inset 0 0 4px 0 rgba(255, 255, 255, 0.3);

      &.hidden {
        display: none;
      }

      span {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 22px;
        height: 2px;
        background: #ffffff;
        transform: translate(-50%, -50%);

        span {
          position: absolute;
          left: 0;
          top: 0;
          width: 15px;
          height: 100%;

          &:first-child {
            transform: rotate(-50deg);
            transform-origin: 0 100%;
          }

          &:last-child {
            transform: rotate(50deg);
            transform-origin: 0 0;
          }
        }
      }
    }

    .close-popap {
      position: absolute;
      right: 0;
      top: 0;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
      overflow: hidden;
      display: block;
      box-shadow: inset 0 0 4px 0 rgba(255, 255, 255, 0.3);

      span {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 25px;
        height: 2px;
        background: #ffffff;
        transform-origin: 50% 50%;

        &:first-child {
          transform: translate(-50%, -50%) rotate(45deg);
        }

        &:last-child {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }

    .step-choiÑe {
      display: flex;

      &.hidden {
        display: none;
      }

      .btn-sigh-up {
        background: #ffffff;
        color: #5756b8;
        font-family: "MontRegular", sans-serif;
      }

      .btn-sigh-in {
        background: #5756b8;
        color: #ffffff;
        border: 1px solid #ffffff;
        font-family: "MontLight", sans-serif;
      }
    }

    .step-sigh-up {
      display: flex;

      &.hidden {
        display: none;
      }

      p {
        color: #FFFFFF;
        margin-top: 30px;
        margin-bottom: 15px;
        font-size: 1.6rem;
      }

      .phone-number {

        &.hidden {
          display: none;
        }
      }

      .payment {
        position: relative;
        width: 100%;

        input {
          position: absolute;
          margin-top: 0;
          z-index: -1;
          visibility: hidden;

          &:checked + label {
            font-family: "MontRegular", sans-serif;
            background: #ffffff;
            color: #5756b8;
          }

          &:disabled + label {
            opacity: 0.5;
            cursor: not-allowed;
          }
        }

        label {
          height: 66px;
          width: 33.333333%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: "MontLight", sans-serif;
          font-size: 1.6rem;
          line-height: 1.2;
          color: #FFFFFF;
          margin-top: 0;
          border: 1px solid #ffffff;
          margin-bottom: 0;
          text-align: center;
          cursor: pointer;
          transition: 0ms;

          &.by-phone {
            border-radius: 20px 0 0 20px;
          }

          &.by-card {
            border-radius: 0;
            margin-left: -1px;
            margin-right: -1px;
          }

          &.by-wallet {
            border-radius: 0 20px 20px 0;
          }
        }
      }

      .payment-card {
        position: relative;
        width: 100%;
        border-radius: 27px;
        margin-top: 30px;
        padding: 0 30px 30px;
        border: 1px solid #ffffff;
        background: rgba(255,255,255,0.1);

        &.hidden {
          display: none;
        }

        input, select {
          border-radius: 11px;
        }

        input {
          max-width: 100%;
        }

        > div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: row;
          margin-right: -15px;
          margin-left: -15px;

          input, select {
            margin-right: 15px;
            margin-left: 15px;
            font-size: 1.6rem;
          }

          select {
            height: 54px;
            text-align: center;
            color: #ffffff;
            background: transparent;
            border: 1px solid #ffffff;
            margin-top: 30px;
            outline: 0;
            width: 150px;
            padding: 0 15px;
            flex: 1;

            option {
              font-size: 1em;
              color: #000000;
            }
          }

          #card-cvc {
            width: 110px !important;
          }
        }
      }

      .btn-step-sign-in {
        background: #ffffff;
        color: #5756b8;
        font-family: "MontRegular", sans-serif;
      }
    }

    .step-sigh-in {
      display: flex;

      &.hidden {
        display: none;
      }

      .btn-step-sign-in {
        background: #ffffff;
        color: #5756b8;
        font-family: "MontRegular", sans-serif;
      }
    }


  }
}