@import "fonts";
@import "header";
@import "popup-entrance";

$bg-color-body: #1e1d40;
$text-color: #5756B8;

* {
  font-family: 'MontLight', sans-serif;
  font-size: 10px;
  -webkit-transition: 100ms;
  -o-transition: 100ms;
  transition: 100ms;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:hover, *:focus, *:active {
  -webkit-transition: 100ms;
  -o-transition: 100ms;
  transition: 100ms;
}

html, body {
  position: relative;
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: $bg-color-body;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, a, span {
  color: $text-color;
  margin: 0;
  letter-spacing: 0.5px;
}

h1 {
  font-family: "MontHeavy", sans-serif;
  font-size: 4.8rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2.8rem;
  font-family: "MontHeavy", sans-serif;
  text-transform: uppercase;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.4rem;
  font-family: "MontRegular", sans-serif;
}

h5 {

}

h6 {

}

p {
  font-size: 1.6rem;
}

a {
  font-size: 1.6rem;

  &:hover {
    text-decoration: none;
  }
}

span {
  font-family: inherit;
  font-size: 1em;
  color: inherit;
}

main {

}

.origin {
  padding: 20px 0;

  .container {
    min-height: 100vh;

    a {
      text-decoration: none;
    }

    > a {
      position: relative;
      margin-bottom: 20px;
      padding-top: 57px;

      &:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        background-image: url("../img/logo.png");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        width: 140px;
        height: 52px;
        margin-bottom: 5px;
        border-radius: 25px;
      }
    }

    h1 {

    }

    .row {
      margin-top: 40px;
      width: 100%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

      .col-5th {
        height: 400px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        padding-top: 15px;
        padding-bottom: 15px;

        > div {
          width: 100%;
          height: 100%;
          border-radius: 25px;
          overflow: hidden;
          background-position: 50% 25%;
          background-size: 85% auto, auto;
          background-repeat: no-repeat;

          &:hover, &:focus {
            -webkit-transform: translateY(-30px);
            -ms-transform: translateY(-30px);
            transform: translateY(-30px);
          }

          a {
            width: 100%;
            height: 100%;
            padding-bottom: 30px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: end;
            -ms-flex-align: end;
            align-items: flex-end;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
          }

          p {
            font-family: 'MontRegular', sans-serif;
            color: #ffffff;
            font-size: 2.1rem;
          }
        }
      }

      .col-5th:first-child > div {
        background-image: url("../img/icon-music.png"), -webkit-gradient(linear, left top, left bottom, from(#B85EFF), to(#E32138));
        background-image: url("../img/icon-music.png"), -o-linear-gradient(#B85EFF, #E32138);
        background-image: url("../img/icon-music.png"), linear-gradient(#B85EFF, #E32138);

        &:hover, &:focus {
          -webkit-box-shadow: 0 30px 30px 0 rgba(227, 33, 56, 0.3);
          box-shadow: 0 30px 30px 0 rgba(227, 33, 56, 0.3);
        }
      }

      .col-5th:nth-child(2) > div {
        background-image: url("../img/icon-video.png"), -webkit-gradient(linear, left top, left bottom, from(#FFFE72), to(#12D22C));
        background-image: url("../img/icon-video.png"), -o-linear-gradient(#FFFE72, #12D22C);
        background-image: url("../img/icon-video.png"), linear-gradient(#FFFE72, #12D22C);

        &:hover, &:focus {
          -webkit-box-shadow: 0 30px 30px 0 rgba(18, 210, 44, 0.2);
          box-shadow: 0 30px 30px 0 rgba(18, 210, 44, 0.2);
        }
      }

      .col-5th:nth-child(3) > div {
        background-image: url("../img/icon-files.png"), -webkit-gradient(linear, left top, left bottom, from(#52D5FF), to(#3749EF));
        background-image: url("../img/icon-files.png"), -o-linear-gradient(#52D5FF, #3749EF);
        background-image: url("../img/icon-files.png"), linear-gradient(#52D5FF, #3749EF);

        &:hover, &:focus {
          -webkit-box-shadow: 0 30px 30px 0 rgba(55, 73, 239, 0.3);
          box-shadow: 0 30px 30px 0 rgba(55, 73, 239, 0.3);
        }
      }

      .col-5th:nth-child(4) > div {
        background-image: url("../img/icon-horoscope.png"), -webkit-gradient(linear, left top, left bottom, from(#7E48F2), to(#6E0DA9));
        background-image: url("../img/icon-horoscope.png"), -o-linear-gradient(#7E48F2, #6E0DA9);
        background-image: url("../img/icon-horoscope.png"), linear-gradient(#7E48F2, #6E0DA9);

        &:hover, &:focus {
          -webkit-box-shadow: 0 30px 30px 0 rgba(110, 13, 169, 0.4);
          box-shadow: 0 30px 30px 0 rgba(110, 13, 169, 0.4);
        }
      }

      .col-5th:last-child > div {
        background-image: url("../img/icon-swipe.png"), -webkit-gradient(linear, left top, left bottom, from(#FFCB13), to(#FF3216));
        background-image: url("../img/icon-swipe.png"), -o-linear-gradient(#FFCB13, #FF3216);
        background-image: url("../img/icon-swipe.png"), linear-gradient(#FFCB13, #FF3216);

        &:hover, &:focus {
          -webkit-box-shadow: 0 30px 30px 0 rgba(255, 50, 22, 0.3);
          box-shadow: 0 30px 30px 0 rgba(255, 50, 22, 0.3);
        }
      }
    }
  }
}

.page {
  padding-left: 180px;

  .container-fluid {
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .show-all {
    font-family: 'MontRegular', sans-serif;
    font-size: 1.6rem;

    &:hover, &:focus {
      color: #ffffff;
    }
  }
}

.page-music {
  padding-bottom: 30px;

  h3 {
    font-size: 2.4rem;
    font-family: "MontBold", sans-serif;
    margin-bottom: 5px;
  }

  .group-title {
    border-bottom: 1px solid #5756B8;
    padding-bottom: 5px;
    padding-top: 50px;
  }

  .music-block {
    border: 1px solid #5756B8;
    border-radius: 24px 0 24px 24px;
    margin-top: 30px;

    > a:first-child {
      width: 100%;
      background: url("../img/music-cover.png") 50% 50% no-repeat;
      background-size: cover;
      border-radius: 22px 0 22px 22px;
      position: relative;
      padding-bottom: 100%;

      &:hover, &:active {
        &:before {
          content: "";
          width: 92px;
          height: 92px;
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          border-radius: 10px;
          background-color: #7A78FF;
          background-image: url(../img/play.png);
          background-position: 55% 50%;
          background-size: 40% auto;
          background-repeat: no-repeat;
          opacity: 0.8;
        }
      }

      .time {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 1.6rem;
        color: #F4F3FE;
        background: #5756B8;
        border-radius: 0px 0px 0px 24px;
        padding: 5px 15px;
      }
    }

    > div:last-child {
      padding: 8px 10px 8px 10px;
    }

    h4 {
      font-family: "MontBold", sans-serif;
      font-size: 1.6rem;
    }
  }

  .music-list {
    padding-bottom: 10px;
    border-bottom: 1px solid #5756B8;
    margin-bottom: 10px;

    .music-item {
      border-radius: 24px;
      padding: 15px;
      height: 124px;

      &:hover, &:focus {
        background: #191836;

        .cover:before {
          content: "";
          width: 46px;
          height: 46px;
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          border-radius: 10px;
          background-color: #7A78FF;
          background-image: url("../img/play.png");
          background-position: 55% 50%;
          background-size: 22px auto;
          background-repeat: no-repeat;
          opacity: 0.8;
        }
      }

      .number {
        padding-right: 15px;
        height: 100%;
        border-right: 1px solid rgba(87, 86, 184, 0.5);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        p {
          font-family: "MontRegular", sans-serif;
          width: 20px;
        }
      }

      .description {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;

        h4 {
          font-family: "MontBold", sans-serif;
          font-size: 1.6rem;
        }
      }

      .cover {
        position: relative;
        width: 94px;
        height: 100%;
        border-radius: 8px;
        margin: 0 20px;
        background: url("../img/music-cover.png") 50% 50%;
        background-size: cover;
      }

      .time {
        margin-left: 20px;
      }
    }

  }
}

.page-video {
  .categories {
    .title {
      border-bottom: 1px solid #5756B8;
      padding-bottom: 5px;
      margin-bottom: 30px;
      margin-top: 20px;

      h3 {
        font-family: "MontBold", sans-serif;
        font-size: 2.4rem;
      }
    }

    .row {
      > div {
        padding-bottom: 30px;
      }
    }

    .video-block {
      height: 380px;
      border: 1px solid #5756B8;
      border-radius: 24px;

      > div:first-child {
        width: 100%;
        background: #5756b8;
        border-radius: 22px;
        position: relative;

        .play {
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          width: 76px;
          height: 76px;
          background-color: #7A78FF;
          background-image: url("../img/play.png");
          background-position: 55% 50%;
          background-repeat: no-repeat;
          background-size: 28px auto;
          opacity: 0.8;
          border-radius: 10px;

          &:hover, &:active {
            opacity: 1;
          }
        }

        .time {
          position: absolute;
          right: 15px;
          bottom: 15px;
          color: #ffffff;
          font-size: 1.6rem;
          padding: 7px 15px;
          border-radius: 10px;
          background: rgba(1, 10, 41, 0.4);
        }
      }

      > div:last-child {
        padding: 10px 20px 20px 20px;

        .rating {
          display: inline-block;
          margin-left: auto;
          font-size: 1.6rem;
          color: #5756B8;
          border: 1px solid #5756B8;
          border-radius: 10px;
          padding: 4px 12px;
          margin-top: 5px;
          float: right;
          cursor: pointer;

          svg {
            color: inherit;
            margin-right: 10px;
            width: auto;
            height: 19px;
          }
        }
      }
    }
  }
}

.page-files {
  .categories {
    .title {
      border-bottom: 1px solid #5756B8;
      padding-bottom: 5px;
      margin-bottom: 30px;
      margin-top: 20px;

      h3 {
        font-family: "MontBold", sans-serif;
        font-size: 2.4rem;
      }
    }

    .row > div {
      padding-bottom: 30px;

      > .show-all {

      }
    }

    .file-block {
      position: relative;
      height: 380px;
      border: 1px solid #5756B8;
      border-radius: 25px;
      overflow: hidden;

      .file-title {
        font-family: "MontRegular", sans-serif;
        font-size: 1.8rem;
        text-transform: uppercase;
        width: 100%;
        color: #1E1D40;
        background: #5756B8;
        opacity: 0.9;
        height: 50px;

        span {
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding: 10px;
        }
      }

      .file {
        background-image: url("../img/file.png");
        background-position: 50% 50%;
        background-size: 60% auto;
        background-repeat: no-repeat;
      }

      .description {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(82, 80, 172, 0.9);
        padding: 30px;
        opacity: 0;

        &:hover, &:focus {
          opacity: 1;
        }

        h4 {
          text-transform: uppercase;
          color: #ffffff;
          font-family: "MontRegular", sans-serif;
          font-size: 1.8rem;
          margin-bottom: 15px;
        }

        p {
          color: #ffffff;
          font-size: 1.6rem;

          span {
            display: block;
          }
        }
      }
    }
  }
}

.page-horoscope {
  height: 100vh;

  .container-fluid {
    position: relative;
    height: 100%;
    padding-bottom: 30px;
  }

  .not-found {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    h1 {
      font-family: "MontHeavy", sans-serif;
      font-size: 25.6rem;
      color: #26254F;
      line-height: 1;
    }

    h2 {
      font-family: "MontExtraLight", sans-serif;
      font-size: 4.4rem;
      color: #5756B8;
      text-transform: none;
      white-space: nowrap;
      line-height: 1;
      opacity: 0.9;
    }
  }
}

/* MEDIA QUERIES */
/* width */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1380px;
  }
}

@media only screen and (max-width: 1439px) {
  .origin .container .row .col-5th {
    height: 340px;
  }

  .page .container-fluid {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 1199px) {
  .origin .container .row .col-5th > div p {
    font-size: 1.8rem;
  }

  .origin .container .row .col-5th {
    height: 290px;
  }

  h4 {
    font-size: 2rem;
  }

  h1 {
    font-size: 4.2rem;
  }
}

@media only screen and (max-width: 991px) {
  .origin .container .row .col-5th {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .origin .container .row {
    margin-top: 20px;
  }

  .origin .container .row .col-5th > div:hover, .origin .container .row .col-5th > div:focus {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@media only screen and (max-width: 900px) {

}

@media only screen and (max-width: 767px) {
  * {
    font-size: 9px;
  }

  .origin .container .row .col-5th {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    height: 320px;
  }

  .page {
    padding-left: 0;
  }

  .page-horoscope .not-found h1 {
    font-size: 20.6rem;
  }
  .page-horoscope .not-found h2 {
    font-size: 3.4rem;
  }
}

@media only screen and (max-width: 550px) {
  .page .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }

  .page-music h3 {
    font-size: 2.2rem;
    padding-top: 20px;
  }

  .page-music .music-list .music-item {
    height: 105px;
  }

  .page-music .music-list .music-item .cover {
    width: 75px;
    margin: 0 15px;
  }

  .page-music .music-list .music-item .number {
    padding-right: 10px;
  }

  .page-music .music-list .music-item .time {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .origin .container .row .col-5th {
    height: 300px;
  }

  h1 {
    font-size: 3.8rem;
  }

  h4 {
    font-size: 1.8rem;
  }

  .origin .container > a {
    margin-bottom: 10px;
    padding-top: 49px;
  }

  .origin .container > a:before {
    width: 120px;
    height: 44px
  }

  .row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
  }

  .page .container-fluid {
    padding-left: 10px;
    padding-right: 10px;
  }

  .page-music {
    padding-bottom: 20px;
  }

  .page-music h3 {
    padding-left: 0;
  }

  .page-music .music-block {
    margin-top: 20px;
  }

  .col-6 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .page-horoscope .not-found h1 {
    font-size: 15.6rem;
  }

  .page-horoscope .not-found h2 {
    font-size: 2.4rem;
  }

  .popup-entrance .popup-window {
    padding: 50px 25px;
  }

  .popup-entrance .popup-window .step-sigh-up .payment label {
    font-size: 1.5rem;
  }

  .popup-entrance .popup-window .step-sigh-up p {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 450px) {
  .origin {
    padding: 10px 0;
  }

  .origin .container .row .col-5th {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .container {
    padding-right: 10px;
    padding-left: 10px;
  }

  .row {
    margin-right: -10px;
    margin-left: -10px;
  }

  .origin .container .row .col-5th > div:hover, .origin .container .row .col-5th > div:focus {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@media only screen and (max-width: 400px) {
  .origin .container .row .col-5th {
    height: 250px;
  }

  .origin .container .row .col-5th > div a {
    padding-bottom: 20px;
  }

  h4 {
    font-size: 1.6rem;
  }

  .origin .container .row .col-5th > div p {
    font-size: 1.6rem;
  }

  .page-music .music-list .music-item {
    margin-left: -15px;
    margin-right: -15px;
  }

  .page-music .music-list .music-item .number {
    border-right: none;
    padding-right: 0;
  }

  .page-music .music-list .music-item .cover {
    margin: 0 10px;
  }

  .popup-entrance .popup-window .step-sigh-up .payment label {
    font-size: 1.35rem;
  }
}

@media only screen and (max-width: 374px) {
  .popup-entrance .popup-window .step-sigh-up .payment label {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 359px) {
  .origin .container .row .col-5th {
    height: 230px;
  }

  .page-music .music-list .music-item .time {
    display: none;
  }

  .col-6 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .popup-entrance .popup-window {
    padding: 25px 15px;
  }

  .popup-entrance .popup-window .step-sigh-up .payment label {
    font-size: 1.2rem;
  }

  .popup-entrance .popup-window .step-sigh-up p {
    font-size: 1.4rem;
  }

  .popup-entrance .popup-window button {
    font-size: 1.6rem;
    border: none;
  }

  input::-webkit-input-placeholder {
    font-size: 1.4rem !important;
  }

  input::-moz-placeholder {
    font-size: 1.4rem !important;
  }

  input:-ms-input-placeholder {
    font-size: 1.4rem !important;
  }

  input::-ms-input-placeholder {
    font-size: 1.4rem !important;
  }

  input::placeholder {
    font-size: 1.4rem !important;
  }
}

@media only screen and (max-height: 700px) {
  header ul li {
    height: 90px !important;
  }
  header ul li.active:before {
    border-radius: 0 0 15px 0;
    height: 15px;
  }

  header ul li.active:after {
    border-radius: 0 15px 0 0;
    height: 15px;
  }

  header ul li {
    position: relative;
    height: 118px;
    padding: 15px 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* iPhone 4 */
@media screen and (device-aspect-ratio: 320/480) and (orientation: portrait) {

}

@media screen and (device-aspect-ratio: 320/480) and (orientation: landscape) {

}

/* iPhone 5 */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) and (orientation: portrait) {

}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) and (orientation: landscape) {

}

/* iPhone 6,7,8 */
@media screen and (device-aspect-ratio: 375/667) and (orientation: portrait) {

}

@media screen and (device-aspect-ratio: 375/667) and (orientation: landscape) {

}

/* iPhone 6,7,8 Plus */
@media screen and (device-aspect-ratio: 414/736) and (orientation: portrait) {

}

@media screen and (device-aspect-ratio: 414/736) and (orientation: landscape) {

}

/* iPhone X */
@media only screen and (min-device-width: 375px) and (min-device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {

}

/* iPhone XR */
@media only screen and (min-device-width: 414px) and (min-device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {

}

/* iPhone X Max */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {

}