$img_advantages_1: #ffffff;
$img_advantages_2: #cbcbcb;
$img_advantages_3: #ababab;
$img_advantages_4: #cbcbcb;
$img_advantages_5: #ababab;
$bg_advantages_color: #e7e7e7;

.advantages_10 {
  background: $bg_advantages_color;
  .row{
    background: $bg_advantages_color;
    padding: 15px;
    > div {
      height: 200px;
    }
    > div:nth-child(1) {
      background: $img_advantages_1;
      height: 500px;
    }
  }
}