//advantages
$advantages_bg_img: url(../img/noimg.png);
$advantages_bg_size: auto 75%;
$advantages_bg_position: 50% 50%;
$advantages_bg_repeat:  no-repeat;
$advantages_bg_color: #e7e7e7;

.advantages_10 {
  background: $advantages_bg_color;
  .row{
    background: $advantages_bg_color;
    padding: 30px 10px;
    > div:nth-child(1) {
      background-color: #ffffff;
      background-image: $advantages_bg_img;
      background-position: $advantages_bg_position;
      background-repeat: $advantages_bg_repeat;
      background-size: $advantages_bg_size;
      height: 500px;
      margin-bottom: 30px;
    }
    .img {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      background-color: #ababab;
      background-image: $advantages_bg_img;
      background-position: $advantages_bg_position;
      background-repeat: $advantages_bg_repeat;
      background-size: $advantages_bg_size;
      margin-bottom: 15px;
    }
    h6 {
      font-size: 1.8rem;
      font-weight: 600;
    }
    p {
      font-size: 1.4rem;
    }
  }
}