$bg_gallery_color_1: #ababab;
$bg_gallery_color_2: #cbcbcb;
$bg_gallery_color_3: #ababab;
$bg_gallery_color_4: #cbcbcb;
$bg_gallery_color_5: #cbcbcb;
$bg_gallery_color_6: #ababab;
$bg_gallery_color_7: #cbcbcb;
$bg_gallery_color_8: #ababab;
$bg_gallery_color: #e7e7e7;
$bg_gallery_img: url(../img/noimg.png);
$bg_gallery_size: auto 75%;
$bg_gallery_position: 50% 50%;
$bg_gallery_repeat: no-repeat;

.gallery_10 {
  background: $bg_gallery_color;
  .row{
    background: $bg_gallery_color;
    padding: 15px;
    div {
      height: 200px;
      background-image: $bg_gallery_img;
      background-size: $bg_gallery_size;
      background-position: $bg_gallery_position;
      background-repeat: $bg_gallery_repeat;
    }
    div:nth-child(1) {
      background-color: $bg_gallery_color_1;
    }
    div:nth-child(2) {
      background-color: $bg_gallery_color_2;
    }
    div:nth-child(3) {
      background-color: $bg_gallery_color_3;
    }
    div:nth-child(4) {
      background-color: $bg_gallery_color_4;
    }
    div:nth-child(5) {
      background-color: $bg_gallery_color_5;
    }
    div:nth-child(6) {
      background-color: $bg_gallery_color_6;
    }
    div:nth-child(7) {
      background-color: $bg_gallery_color_7;
    }
    div:nth-child(8) {
      background-color: $bg_gallery_color_8;
    }
  }
}