@import "fonts";

@import "header_3";
@import "firstwiev_1";
@import "advantages_10";
@import "command_6";
@import "catalog_2";
@import "blog_1";
@import "comment_2";
@import "form_2";
@import "gallery_11";
@import "info_4";
@import "footer_2";

//bg main block
$bg_body: #ffffff;
$bg_header: #ffffff;
$bg_firstwiev: #ffffff;
$bg_advantages: #ffffff;
$bg_command: #ffffff;
$bg_catalog: #ffffff;
$bg_blog: #ffffff;
$bg_comment: #ffffff;
$bg_form: #ffffff;
$bg_gallery: #ffffff;
$bg_info: #ffffff;
$bg_footer: #ffffff;

//text
$txt_color: #000000;

//button
$btn_color: #ffffff;
$btn_bg: #3ec6ff;
$btn_color_hover: #ffffff;
$btn_bg_hover: #65d1ff;
$btn_color_active: #ffffff;
$btn_bg_active: #65d1ff;
$btn_outline: 2px solid #3ec6ff;
$btn_radius: 10px;

//input
$inp_color: #ffffff;
$inp_bg: #3ec6ff;
$inp_color_hover: #ffffff;
$inp_bg_hover: #65d1ff;
$inp_color_focus: #ffffff;
$inp_bg_focus: #65d1ff;
$inp_border: 1px solid #dddddd;
$inp_outline: 2px solid #3ec6ff;
$inp_radius: 0px;

//link
$a_color_hover: #3ec6ff;
$a_color_active: #3ec6ff;

* {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  color: $txt_color;
  transition: 100ms;
  box-sizing: border-box;
}

*:hover, *:focus, *:active {
  transition: 100ms;
}

body {
  margin: 0;
  padding: 0;
  background: $bg_body;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, p, a, span {
  color: $txt_color;
  margin: 0;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

h1 {

}

h2 {
  font-size: 2.4rem;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
  font-weight: 600;
}

h5 {

}

h6{

}

p {
  font-size: 1.5rem;
}

span {
  font-size: 1.5rem;
}

a {
  font-size: 1.5rem;
  &:hover, &:focus {
    color: $a_color_hover;
    outline: 0;
    text-decoration: none;
  }

  &:active {
    color: $a_color_active;
  }
}

button {
  font-size: 1.6rem;
  width: 100%;
  height: 50px;
  margin-top: 15px;
  color: $btn_color;
  background-color: $btn_bg;
  border: none;
  border-radius: $btn_radius;
  text-transform: uppercase;
  outline: 0;

  &:hover, &:focus {
    color: $btn_color_hover;
    background-color: $btn_bg_hover;
  }

  &:focus {
    border: $btn_outline;
    outline: none;
  }

  &:active {
    color: $btn_color_active;
    background-color: $btn_bg_active;
  }
}

input {
  font-size: 1.6rem;
  width: 100%;
  height: 50px;
  margin-top: 30px;
  padding: 0 1.5rem;
  border: $inp_border;
  border-radius: $inp_radius;
  &::placeholder{
    color: $inp_border;
  }

  &:hover {
    color: $inp_color_hover;
    background-color: $inp_bg_hover;
    border: $inp_outline;
    &::placeholder{
      color: #ffffff;
    }
  }

  &:focus {
    color: $inp_color_focus;
    background-color: $inp_bg_focus;
    border: $inp_outline;
    outline: 0;
    &::placeholder{
      color: #ffffff;
    }
  }
}

textarea {
  font-size: 1.6rem;
  width: 100%;
  height: 150px;
  margin-top: 30px;
  padding: 1rem 1.5rem;
  border: $inp_border;
  border-radius: $inp_radius;
  margin-bottom: -4px;
  &::placeholder{
    color: $inp_border;
  }

  &:hover {
    color: $inp_color_hover;
    background-color: $inp_bg_hover;
    border: $inp_outline;
    &::placeholder{
      color: #ffffff;
    }
  }

  &:focus {
    color: $inp_color_focus;
    background-color: $inp_bg_focus;
    border: $inp_outline;
    outline: 0;
    &::placeholder{
      color: #ffffff;
    }
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $bg_header;
  z-index: 9;
  border-bottom: 4px solid #dddddd;
}

.firstwiev {
  background-color: $bg_firstwiev;
}

.advantages {
  background-color: $bg_advantages;
}

.command {
  background-color: $bg_command;
}

.catalog {
  background-color: $bg_catalog;
}

.blog {
  background-color: $bg_blog;
}

.comment {
  background-color: $bg_comment;
}

.form {
  background-color: $bg_form;
}

.gallery {
  background-color: $bg_gallery;
}

.info {
  background-color: $bg_info;
}

footer {
  background: $bg_footer;
}

.border-box { //для видимости границ основных блоков
  border: 4px solid #dddddd;
  border-top: none;
}
